<div class="header">
	<ul class="header--loginSignUp">
		<li>
			<a href="/login" class="header--login--btn"> Login </a>
		</li>
		<li>
			<a href="/sign-up" class="header--signUp--btn"> Sign Up </a>
		</li>
	</ul>
</div>