<div>
<h1>Wellcom</h1>
<input type="userName" name="userName" id="userName" placeholder="Enter your Name">
<input type="password" name="password" id="password" placeholder="Enter your Password">
<button type="submit" id="submit">submit</button>
</div>