<div class="container">
            <div class="signUp">
               <h1>Sign Up</h1>
               <label for="username">Full Name
               <input class="fullName" type="text" id="fullName" placeholder="Enter Your Name" required>
               </label>
               <label for="username">Username
               <input class="username" type="text" name='username' id="username" placeholder="Enter Your Username" required>
               </label>
               <label for="pass">Password
               <input class="password" type="password" name='pass' id="password" placeholder="Enter Your Password" required>
               </label>
               <label for="pass">Confirm Password 
               <input class="fields" type="password" name='pass' id="confirmPass" placeholder="Confirm Your Password" required>
               </label>
               <input type="submit" value="Sign Up" id="signUpBtn">
               <h2> If you already have an account</h2>
               <a href="/login">Login</a>
            </div>
</div>

