<!DOCTYPE html>
<html lang="en">
<head>
	{{> htmlHead }}
	<link rel="stylesheet" type="text/css" href="{{css}}">
</head>
<body>
	<header>
		<div class="header">
			<div class="header--logo"> Pintrest App </div>
			<ul class="header--loginSignUp">
				<li>
					<button class="header--login--btn"> Login </button>
				</li>
				<li>
					<button class="header--signUp--btn"> Sign Up </button>
				</li>
			</ul>
		</div>
	</header>

	<main>
		{{{ body }}}
	</main>

	<footer>
		{{> footer }}
	</footer>

	<script type="text/javascript" src="{{ js }}"></script>
</body>
</html>

